<div id="attract" class="page-content">
        <div class="cfm-videoplayer background-video" data-poster="img/video_poster.jpg" data-video="video/attract" data-width="960" data-height="540">
            <div class="cfm-videoplayer-inner">
            <div class="cfm-videoplayer-poster"></div>
            <video class="cfm-videoplayer-desktop" width="960" height="540"></video>
            </div>
        </div>
        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul><li class=""><a data-navigate-to="intro" href="#" class="btn-green">START</a></li></ul>
                        </div>
                </div>
        </div>
</div>
