<div id="photo" class="page-content">
        <div class="cfm-audioplayer" data-audio="audio/photo_newsound"><audio></audio></div>
        <div class="page-header-container">
                <div id="logo" class="logo">
                        <a href=""></a>
                </div>
                <div class="title">
                        <h1>Image Search</h1>
                </div>
                <div class="page-header-content">
                        <div class="header-lockup">
                        </div>
                </div>
        </div>
        <div class="page-content-sections">
                <div class="page-content-section photo-gallery cfm-project-gallery">
                        <div class="page-content-section-inner">
                                <h2>From Gallery</h2>
                                <ul id="library-list">
                                        <div class="gear">
                                                <img src="img/gear_green.svg">
                                        </div>
                                </ul>
                                <a class="button" id="more-image-btn">More Images</a>
                        </div>
                </div>
                <div class="page-content-section upload-photo">
                        <div class="page-content-section-inner">
                                <h2>From Camera Roll</h2>
                                <div id="upload-photo-container" class="selected-photo-container">
                                        <canvas width="500" height="500" class=""></canvas>
                                        <div class="placeholder"></div>
                                </div>
                                <div class="upload-photo-button-container">
                                        <button id="choose-file-btn" class="button">Choose File</button>
                                        <form>
                                                <input type="file" name="file" accept=".jpg, .png"/>
                                        </form>
                                </div>
                        </div>
                        <div id="divider">Or</div>
                </div>
        </div>
        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <!--<li><a data-navigate-to="intro" href="#" class="btn-gray">BACK</a></li>-->
                                        <li class="disabled"><a data-navigate-to="search" href="#" class="btn-orange">NEXT</a></li>
                                </ul>
                        </div>
                </div>
        </div>
		
		
		
		
</div>
