<div id="thanks" class="page-content">
        <div class="cfm-audioplayer" data-audio="audio/thankyou"><audio></audio></div>
        <div class="page-content-sections">
                <div class="page-content-section-inner">
                        <div class="" style="text-align: center;">
                               <!--<img src="img/thankyou.png" style="width:100%">-->
                                <div style="text-align: right;margin-top: 20%;margin-right: 10%;
                                  font-size: 5em;font-weight: bold;color:white;padding-bottom: 18%;">
                                        <h1>Thank You</h1>
                                </div>
                        </div>
                </div>
        </div>

        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <li><a data-navigate-to="statistics" href="#" class="btn-gray">BACK</a></li>
                                        <li><a data-navigate-to="photo" href="#" class="btn-orange">EXIT</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
