<div id="wrapup" class="page-content">
        <div class="page-header-container">
                <div class="page-header-content">
                </div>
        </div>
        <div class="cfm-videoplayer background-video" data-poster="img/video_poster.jpg" data-video="video/statistics" data-width="960" data-height="540">
            <div class="cfm-videoplayer-inner">
            <div class="cfm-videoplayer-poster"></div>
            <video class="cfm-videoplayer-desktop" width="960" height="540"></video>
            </div>
        </div>
        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <li><a data-navigate-to="statistics" href="#" class="btn-orange">NEXT</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
