<div id="intro" class="page-content">
        <div class="page-header-container">
                <div id="logo" class="logo">
                        <a href=""></a>
                </div>
                <div class="title">
                        <h1>Image Search</h1>
                </div>
                <div class="page-header-content">
                        <div class="header-lockup">
                        </div>
                </div>
        </div>
		<div id="privacyPopup" style="margin:5% 15%;">
			<h2>Information about Similarity Search Web</h2>
			<p>HP Labs is conducting research in the field of high-dimensional similarity search, which seeks to improve search performance on very large datasets by pre-computing an index of vectors that describe each object in a database. One application of this technology is to search through images to find those similar to a candidate image.</p> 
			<br>			
			<h4>Registering for updates</h4>
			<p>When you give us your email address, you’re agreeing to receive occasional messages containing updates to this program. We will not use your email for any other purpose or pass it to a third party.</p>

			<h4>When you click Choose File</h4>
			<p>When you click “Choose File” you are presented with a window that will allow you to upload an image.</p>  

			<h4>What kind images can I use?</h4>
			<p>A: Anything will work, but you should only upload public domain images or your own images. Please be aware that your images may appear in search results from other users.</p>

			<h4>What data will be collected?</h4>
			<p>A: The images that users upload will be added to the image database so that the quality of search results continuously improves. Uploaded images will be stripped of all metadata to remove personal information contained in the file. Uploaded images will be reviewed by HP Labs staff as they are added to the database. Images that are deemed inappropriate will be permanently deleted.</p>

			<h4>Where will my data be stored?</h4>
			<p>A: Images will be stored on HP Labs systems.</p>

			<h4>What if I want to remove an image from your database?</h4>
			<p>A: Send a message to the HP Privacy team (<a href="">Feedback form</a>) You should add an address here because the privacy policy should be the HP Privacy Statement) and attach a copy of the image to be removed. (Because we strip all the metadata from the image and anonymize the filename, we have to have a copy of the image in order to know which one to remove.)</p>

			<p>By clicking “Accept” you are agreeing to these terms and to HP’s collection and use of your information in accordance with the <a href="">HP Privacy Statement</a>.</p>
 
		</div>
		
        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <li><a id="accept" data-navigate-to="photo" href="#" class="btn-orange">ACCEPT</a></li>
                                        <li><a id="cancel" data-navigate-to="photo" href="#" class="btn-black">CANCEL</a></li>
                                </ul>

                        </div>
                </div>
        </div>
</div>

