<div id="search" class="page-content">
        <!--<div class="cfm-audioplayer" data-audio="audio/hadoop"><audio></audio></div>
        <div class="cfm-audioplayer" data-audio="audio/naive"><audio></audio></div>
        <div class="cfm-audioplayer" data-audio="audio/lsh"><audio></audio></div>-->

        <div class="cfm-audioplayer" data-audio="audio/search_newsound"><audio></audio></div>
        <div class="page-header-container">
                <div class="page-header-content">
                        <div class="header-lockup">
                                <div id="logo" class="logo"><a href=""></a></div>
                                <div class="title">
                                        <h1>Image Search</h1>
                                </div>

                        </div>
                </div>
        </div>
        <div class="selected-photo-container">
                <div class="selected-photo"></div>
        </div>
        <div class="search-results page-content-sections">
                <div id="hadoop" class="cfm-project-gallery page-content-section">
                        <div class="page-content-section-inner">
                                <h2>Disk-</h2><h2>Based</h2>
                                <h3><span class="number-highlight">4 Million</span> Images</h3>
                                <h1><span class="time-cost"></span> ms</h1>
                                <div class="gear">
                                        <img src="img/gear_green.svg">
                                </div>
                                <ul class="image-list"></ul>
                        </div>
                </div>
                <div id="naive" class="cfm-project-gallery page-content-section">
                        <div class="page-content-section-inner" >
                                <h2>In-</h2><h2>Memory</h2>
                                <h3><span class="number-highlight">80 Million</span> Images</h3>
                                <h1><span class="time-cost"></span> ms</h1>
                                <div class="gear">
                                        <img src="img/gear_green.svg">
                                </div>
                                <ul class="image-list"></ul>
                        </div>
                </div>
                <div id="lsh" class="cfm-project-gallery page-content-section">
                        <div class="page-content-section-inner">
                                <h2>Universal</h2><h2>Memory</h2>
                                <h3><span class="number-highlight">80 Million</span> Images</h3>
                                <h1><span class="time-cost"></span> ms</h1>
                                <div class="gear">
                                        <img src="img/gear_green.svg">
                                </div>
                                <ul class="image-list"></ul>
                        </div>
                </div>
        </div>
        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <li><a data-navigate-to="photo" href="#" class="cancel-search btn-gray">BACK</a></li>
                                        <li><a data-navigate-to="statistics" href="#" class="cancel-search btn-orange">NEXT</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>