<div id="statistics" class="page-content">
        <div class="cfm-audioplayer" data-audio="audio/conclusion"><audio></audio></div>
        <div class="page-header-container">
                <div id="logo" class="logo">
                        <a href=""></a>
                </div>
                <div class="title">
                        <h1>Image Search</h1>
                </div>
                <div class="page-header-content">
                        <div class="header-lockup">
                        </div>
                </div>
        </div>
        <div class="page-content-sections">
                <div class="page-content-section-inner">
                        <div class="statisticsChart" style="text-align: center;">
                                <img src="img/statistics_green.png">
                        </div>
                </div>
        </div>

        <div class="page-footer-container">
                <div class="page-footer-content">
                        <div class="page-navigation cfm-navigation">
                                <ul>
                                        <!--<li><a data-navigate-to="search" href="#" class="btn-gray">BACK</a></li>-->
                                        <li><a data-navigate-to="thanks" href="#" class="btn-orange">NEXT</a></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
