.cfm-videoplayer
{
	position: relative;

	.cfm-videoplayer-inner{
		padding-bottom: 56.25%;
		background:rgba( 255,255,255,.1 );
	}

	video{
		position: absolute;
		top:0; left:0; width:100%; height:100%;
	}

	video.cfm-videoplayer-desktop{
		z-index: 0;
	}
	
	.cfm-videoplayer-poster{
		position: absolute;
		top:0; left:0;
		width:100%;
		height:100%;
		background-repeat:no-repeat;
		background-size:cover;
		background-color:#FFF;
		z-index: 1;
		opacity: 0;
	}

	video.cfm-videoplayer-mobile{
		display: none;
		z-index: 2;
	}
}