@font-face {
    font-family: gotham-light;
    src: url(../fonts/gotham-light.ttf);
}
@font-face {
    font-family: gotham-book;
    src: url(../fonts/gotham-book.ttf);
}
@font-face {
    font-family: gotham-bold;
    src: url(../fonts/gotham-bold.ttf);
}