/**
 * Variables
 */

 /** ---- fonts ----**/
$body-text-size : 12px;
$heading-font-family : serif;
$body-font-family : sans-serif;

/** ---- colors ----**/
$grey : #999;
$dark-grey : #333;
$medium-grey : #444;
$navigation-grey: #c5c9ca;
$hp-blue: #0699d4;
$btn-green: #607d78;
$brand-green: #02b294;
$black: #000000;

/** ---- animation ----**/
$transition-speed : .4s;
$page-transition-speed : 1s;

/** ---- window sizes ----**/
$tablet-small : 480px;
$tablet-large : 760px;
$desktop : 1200px;
$desktop-large : 1600px;