/**
 * Photo Page Styles
 */

#photo{
	#more-image-btn {
		opacity: 0;

		@include prefix(transition, opacity 1s);
		@include prefix(transition-delay, 1s);
	}

	.page-content-sections{		
		margin-top: 15px;

		.page-content-section{
			position: relative;

			#divider {
				position: absolute;
				left: -10px;
				top: 45%;
				background-color: #fff;
				padding: 10px 0;
			}

			.page-content-section-inner{
				border-right: 1px solid #aaa;
				padding:0 140px;
				text-align: center;
				position: relative;

				h2{
					margin-bottom: 20px;
				}

				.selected-photo-container{
					text-align: center;
					width: 100%;
					padding-bottom:100%;
					height: 0;
					background:#eee;
					position: relative;

					.selected-photo{
						position: absolute;
						top:0;left:0;
						width: 100%; height:100%;
						margin: 0 auto;
					}

					.placeholder {
						background-image: url(../img/photo_upload_people.png);
						background-color: $brand-green;
						width: 100%;
						height: 100%;
						background-size: 286px 319px;
						background-repeat: no-repeat;
						background-position:center center;
						position: absolute;
					}

					canvas{
						position:absolute;
						top:0;left:0;
						width:100%; height:100%;
						z-index: 1;
					}
				}
				.upload-photo-button-container{
					position: relative;
					height: 60px;
					width: 100%;
					margin-top: 20px;

					button {
				 		color: #fff;
				 		background-color: $black;
				 		padding: 15px 25px;				 		
				 		margin: auto;
				 		text-align: center;
				 		border: none;
				 		cursor: pointer;
				 		font-size: 16px;
				 		font-family: 'gotham-book';
					}

					input[type="file"]{
						position: absolute;
						z-index: 1;
						top:0; left:0;
						width: 100%;
						opacity: 0;
						height: 100%;
						cursor: pointer;
					}

					&:hover{
						button{
							background:#444;
						}
					}
				}
			}
		}
	}
}